{% extends "layout.html" %}

{% block title %} Login Page {% endblock %}

{% block menu_items %}
    <li><a href="{{ url_for('home') }}" title="Home page" >home</a></li>
    <li><a href="{{ url_for('auth.signup') }}" title="company page" target="_blank">sign up</a></li> 
    
{% endblock %}

{% block body %} 
<!--action="{{ url_for("account")}}" -->
<div  class="form_div">
    <div class="form_flex_container">
        <form method="post">
            <h1>Login</h1>
            <p>Please fill in this form to log in.</p>
            <hr>
            <div class="form_username">
                <label for="username">Username</label>
                <input name="username" id="username" required>
            </div>
            <div class="form_password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <input type="submit" value="Log In">
        </form>
    </div>
</div>
{% endblock %}
