{% extends "layout.html" %}

{% block title %} Login Page {% endblock %}

{% block css_path %} <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/forms.css')}}">
{% endblock %}

{% block menu_items %}
    <li class="navbar_toggle"> <i class="fa-solid fa-bars fa-fade fa-xxl"></i></li> 
    <li class="link"><a href="{{ url_for('auth.signup') }}" title="Sign up page" target="_blank"><i class="fa-solid fa-user-plus fa-xl"></i></a></li> 
    
{% endblock %}

{% block body %} 
<!--action="{{ url_for("account")}}" -->
<div  class="form_div" >
  <div class="form_flex_container">
  <form method="post" >
      <div class="container">
        <h1>Login</h1>
        <p>Please fill in this form to Login.</p>
        <hr>
        <div class="form_username">
          <label for="username"><b>Username</b></label>
          <br>
          <input type="text"  id="username" placeholder="Enter username" name="username" required >
          
        <div class="form_password">
            <label for="password"><b>Password</b></label>
            <br>
            <input type="password" id="password" placeholder="Enter Password" name="password" required >
        </div>
        <div class="clearfix">
          <button type="submit" value="login"> Log In</button>
        </div>
        <!--add links-->
         <h5> By creating this accoung you agree to our
            privacy policy </h3>
      </div>
    </div>
  </form> 
</div>
{% endblock %}
