* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

/*styling the navbar, primary color: #59832d*/
.navbar {
    background-color: whitesmoke;

}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #000000;

}

.menu_logo {
    padding-left: 2rem;
    flex: 1;
    /* user-select: none; */
}

.website_name {
    list-style-type: none;
    flex: 1;
    justify-self: center;
    padding-bottom: 1rem;
}

.website_name input {
    width: 40%;
}

.website_name button {
    cursor: pointer;
    width: 10%;
}

.menu_logo a {
    text-decoration: none;
    color: black;
}

.menu_logo a:hover {
    opacity: 50%;
}

.link {
    list-style-type: none;
    padding: 2rem;
}

.link:hover {
    background-color: aliceblue;
}

.link a:hover {

    color: #1cc4a9;
    transform: rotate(6deg);
    /* font-size: larger; */
    cursor: pointer;
}

.link a {
    color: black;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.navbar_toggle {
    display: none;
}

.button_menu {
    display: none;
}

.grid_container {
    margin: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: all minmax(100px, min-content);
    column-gap: 15px;
    justify-content: center;
}

.item {
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.item img {
    max-width: 100%;
}


#footer {
    grid-row-start: auto;
    grid-column: 2 / 3;
}

/* adding media for smaller devices */
@media only screen and (max-width: 600px) {

    .navbar_toggle:hover {
        color: #1cc4a9;
    }
    .website_name input {
        width: 55%;
    }
    .navbar_toggle {
        display: block;
        align-self: flex-end;
        margin-right: 5%;
        align-self: center;
        cursor: pointer;
        padding: 1.5rem;
    }

    .navbar ul {
        flex-wrap: wrap;
    }

    .link {
        display: none;
        text-align: end;
        width: 100%;
        position: relative;
        text-align: center;
        background-color: whitesmoke;
        padding: 1rem;

    }

    .link a {
        color: black;
    }

    .link:hover a {
        display: block;
        color: #1cc4a9;
        font-size: larger;
        transition: none;
    }

    .link:hover {
        background-color: aliceblue;
    }

    .active {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .body {
        font-size: 2rem;
    }
}