@import "styles.css";
.form_div {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form_flex_container {
    max-width: 100%;
    padding: 50px;
    display: flex;
    border: solid 1px;
    background-color: whitesmoke;
}

.form_div input {
    width: 100%;
    margin: 10px;
}

.form_div input:hover {
    font-size: large;
}

.form_div button {
    margin: 45px 0px;
    display: block;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: #1cc4a9;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

.form_div button:hover {
    opacity: 75%;
}

.form_div p {
    margin: 45px 0px;
}

.form_div h {
    margin: 45px;
}

.form_username {
    margin: 10px 0;
}

.form_password {
    margin: 10px 0;
}

