* {
    box-sizing:border-box;
    margin:0;
}

/*primary color: #59832d*/
/* styling the header */
.flex_contatiner_header {
    color: #000000;
    padding: 20px;
    height: minmax(50px,fit-content);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #1cc4a9;
}

.header_menu  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #000000;

}

.header_menu li {
    margin-left: 10px;
 }

.header_menu a {
    color: black;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out ;
}

/* adding transformations on hover*/
.header_menu a:hover {
  color: #59832d;
  transform: rotate(6deg);
  cursor: pointer;
}

.button_menu{
    display:none;
}
.grid_container {
    margin: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: all minmax(100px, min-content);
    column-gap: 15px;
    justify-content: center;
}

.item {
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.item img{
    max-width: 100%;
}
.search_bar  {
    padding: 30px;
    margin: 20px;
    grid-row: 1 /  2;
    grid-column: 1 / -1;
}
#highed_valued_home {
    grid-row-start: 2 ;
    grid-column: 1 / 2;
}

#most_traded_home {
    grid-row-start: 2 ;
    grid-column: 2 / 3;
}

#record_high_home {
    grid-row-start: 2;
    grid-column: 3 / 4;

}
#footer { 
    grid-row-start: auto;
    grid-column: 2 / 3;
}

/* Styling forms */
.form_div {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
  

}
.form_flex_container{
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 30px;
    border: solid 1px;
}
.form_div label {
    margin-left: 10px;
}

/* adding media for smaller devices */
.form_div button {
    margin: 45px  0px;
}
.form_div p {
    margin: 45px 0px;
}
.form_div h {
    margin: 45px;
}
@media only screen and (max-width: 650px) {

    .header_menu {
        display: column;
        display: block;
    }
    .header_menu li {
        display: block;
        text-align: center;
    }
    .header_menu a {
        display: block;
    }

   #highed_valued_home {
        grid-row: auto;
        grid-column: 2 / 3;
    }
    
    #most_traded_home {
        grid-row: auto;
        grid-column: 2 / 3;
    }
    
    #record_high_home {
        grid-row: auto;
        grid-column: 2 / 3;
    }
    .form_flex_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 600px) {
   .body {
    font-size: 2em;
   }
}