{% extends "layout.html" %} {% block title %} {{super()}} {% endblock %}

{% block css_path %} 
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

<!-- !PAGE CONTENT! -->
{% block body %}
<div class="grid_container">

  <div class="item" id="highest_valued_home">
    <div class="chart" id="bargraph">
    <img src='data:image/png;base64,{{top_data_to_send}}'/>
  </div>

    <h3>Highest valued company</h3>
  </div>

  <div class="item" id="most_traded_home">
    <img src='data:image/png;base64,{{second_data_to_send}}'/>
    <h3>Most traded company</h3>
  </div>

  <div class="item" id="record_high_home">
    <img src='data:image/png;base64,{{third_data_to_send}}'/>
    <h3>Record high company</h3>
  </div>

   <div class="item" id="footer">
    <footer> footer </footer>
  </div>

</div>

{% endblock %} 
