{% extends "layout.html" %} {% block title %} {{super()}} {% endblock %}

{% block css_path %} 
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

<!-- !PAGE CONTENT! -->
{% block body %}
<div class="grid_container">
  <!-- SEARCH BAR-->
  <div class="search_bar">
    <form action="{{ url_for("home")}}" method="post">
    <label for="Ticker symbol">Ticker Symbol:</label>
    <input type="text" id="ticker" name="ticker" />
    <button type="submit">Search</button>
  </div>
  <!-- WILL DISPLAY GRAPHS OF THESE COMPANIES CALCULATED BY THE API-->

  <div class="item" id="highest_valued_home">
    <!-- <img src='data:image/png;base64,{{fig_to_send}}'/> -->
    <div class="chart" id="bargraph">
    <img src='data:image/png;base64,{{top_data_to_send}}'/>
  </div>

    <h3>Highest volume</h3>
  </div>

  <div class="item" id="most_traded_home">
    <img src='data:image/png;base64,{{second_data_to_send}}'/>
    <h3>Highest market cap</h3>
  </div>

  <div class="item" id="record_high_home">
    <img src='data:image/png;base64,{{third_data_to_send}}'/>
    <h3>Record high company</h3>
  </div>

   <div class="item" id="footer">
    <footer> footer </footer>
  </div>

</div>

{% endblock %} 
