{% extends "layout.html" %} {% block title %} {{super()}} {% endblock %}

{% block css_path %} 
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

<!-- !PAGE CONTENT! -->
{% block body %}
<div class="grid_container">
  
  <div class="item" id="highest_valued_home">
      <img src='data:image/png;base64,{{top_data_to_send}}'/>
  </div>

  <div class="item" id="most_traded_home">
    <img src='data:image/png;base64,{{second_data_to_send}}'/>
  </div>

  <div class="item" id="record_high_home">
    <img src='data:image/png;base64,{{third_data_to_send}}'/>
  </div>

   <div class="item" id="footer">
    <footer id="footer_flex_container">
      <h2>Stock Site</h2> 
      
      <div class="footer_div">
        <h3>Other Projects</h3>
          <ul>
            <li> project link </li>
          </ul>
      </div>
      
      <div class="footer_div">
        <h3>Contact us</h3>
          <ul>
            <li> email here </li>
          </ul>
        </div>
   
      </footer>
  </div>


  <!--  need to change  image size to size with div-->
  <div id="article_home">
    <div class="article_item">

      <center><img src="{{article_images_to_send[0]}}" ></center>
       <h3>Related article</h3><br>
      {{article_authors_to_send[0]}}<br>
      {{article_descriptions_to_send[0]}}<br>
       <a href="{{article_url_to_send[0]}}"  target="_blank"> {{article_titles_to_send[0]}} </a> <br>

    </div>

    <div class="article_item">
      <center><img src="{{article_images_to_send[1]}}" ></center>
     <h3>Related article</h3><br>
      {{article_authors_to_send[1]}}<br>
      {{article_descriptions_to_send[1]}}<br>
       <a href="{{article_url_to_send[1]}}"  target="_blank"> {{article_titles_to_send[1]}} </a> <br>

    </div>

    <div class="article_item">
      <center><img src="{{article_images_to_send[2]}}" ></center>
      <h3>Related article</h3><br>
      {{article_authors_to_send[2]}}<br>
      {{article_descriptions_to_send[2]}}<br>
      <a href="{{article_url_to_send[2]}}"  target="_blank"> {{article_titles_to_send[2]}} </a> <br>

    </div>
  </div>
</div>

{% endblock %} 
