<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} WEB-APP {%endblock%}</title>
        <meta charset="UTF-8">
        <meta name='author' content='Eduardo,Justin email@hotmail.com'>
        <meta name='language' content='en'>
        <meta name='keywords' content='stocks, Stocks, Companies, money'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap" rel="stylesheet">  
        {% block css_path %} <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        {% endblock %}
        <script src="https://kit.fontawesome.com/9c050fdc22.js" crossorigin="anonymous"></script>
        {% block js_path %} <script src="{{ url_for('static', filename='js/header.js')}}"></script> {% endblock %}

    </head>

    <body>  
<!-- FIX CLASS NAMES WHEN STYLING AND CSS -->

<!-- Top menu -->
    <nav class="navbar"> 
        <ul>
            <!-- change the url for search and home in there respective places to improve speed-->
            <li class="menu_logo"><a href="{{ url_for('route.home') }}" title="Home page" > <img src="{{ url_for('static', filename='Logo.png')}}" alt="company_logo"></a></li>
            {% block search %}
             <li class="website_name">
                 <form action="{{ url_for("route.home")}}" method="post">
                    <label for="Ticker symbol">Search:</label>
                    <input type="text" id="ticker" name="ticker" />
                    <button type="submit"><i class="fa fa-search fa-xl"></i></button>
                 </form>
             </li>
             {% endblock %}
            {% block menu_items %}
                {% if g.user %}
                        <li class="navbar_toggle"> <i class="fa-solid fa-bars fa-fade fa-xl"></i></li> 
                        <li class="link"  title="{{ g.user['username'] }}'s Page"><a href="{{ url_for('route.account') }}" target='_blank'><i class="fa-solid fa-user fa-xl"></i></a></li>
                        <li class="link"><a href="{{ url_for('auth.logout') }}" title="logout" target="_blank">logout</a></li>
                {% else %}
                        <li class="navbar_toggle"> <i class="fa-solid fa-bars fa-fade fa-xl"></i></li> 
                        <li class="link"><a href="{{ url_for('auth.login') }}" title="login page" target="_blank"><i class="fa-solid fa-circle-user fa-xl"></i></a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </nav>
        

        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
      
            {% block body %}
              <div class="grid_container"> 
                <div class="item">body </div>
                <div class="item">body</div>   
                <div class="item">body</div>
                <div class="item" id="footer">
                    <footer id="footer_flex_container">
                        <h2>Stock Site</h2> 
                        <div class="footer_div">
                            <h3>Other Projects</h3>
                            <ul>
                                <li> project link </li>
                            </ul>
                        </div>                 
                        <div class="footer_div">
                            <h3>Contact us</h3>
                            <ul>
                                <li> email here </li>
                            </ul>
                            </div>            
                    </footer>
                </div>
              </div>
            {% endblock %}
    </body>
</html>