<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} WEB-APP {%endblock%}</title>
        <meta charset="UTF-8">
        <meta name='author' content='Eduardo,Justin email@hotmail.com'>
        <meta name='language' content='en'>
        <meta name='keywords' content='stocks, Stocks, Companies, money'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma"> 
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <script src="https://kit.fontawesome.com/9c050fdc22.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/header.js')}}"></script>

    </head>

    <body>  
<!-- FIX CLASS NAMES WHEN STYLING AND CSS -->

<!-- Top menu -->
    <nav class="navbar"> 
        <ul>
            <li class="menu_logo"><a href="{{ url_for('home') }}" title="Home page" > <i class="fa-solid fa-house fa-xl"></i></a></li>
            {% block menu_items %}
                {% if g.user %}
                    <li ><i class="fa-solid fa-user"></i></li> 
                    <li class="navbar_toggle"> <i class="fa-solid fa-bars fa-fade fa-xl"></i></li> 
                    <li><span>{{ g.user['username'] }}</span> </li>
                    <li class="link"><a href="{{ url_for('company_page') }}" title="company page" target="_blank">company</a></li>
                    <li class="link"><a href="{{ url_for('account') }}" title="account page" target='_blank'>account</a></li>
                    <li class="link"><a href="{{ url_for('auth.logout') }}" title="logout" target="_blank">logout</a></li>
                {% else %}
                    <li class="navbar_toggle"> <i class="fa-solid fa-bars fa-fade fa-xl"></i></li> 
                    <li class="link"><a href="{{ url_for('company_page') }}" title="company page" target="_blank">company</a></li>
                    <li class="link"><a href="{{ url_for('account') }}" title="account page" target='_blank'>account</a></li>
                    <li class="link"><a href="{{ url_for('auth.login') }}" title="login page" target="_blank">login</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </nav>
        

        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
      
            {% block body %}
              <div class="grid_container"> 
                <div class="item">body </div>
                <div class="item">body</div>   
                <div class="item">body</div>
                <div class="item">footer</div>
              </div>
            {% endblock %}
    </body>
</html>