<body>
    <p>
    Company dividends: {{company_dividends_to_send}}<br><br>
    Company financials: {{company_financials_to_send}}<br><br>
    Company major holders: {{company_major_holders_to_send}}<br><br>
    Company institutional holder: {{company_institutional_holders_to_send}}<br><br>
    Company balance sheet: {{company_balance_sheet_to_send}}<br><br>
    Company cashflow: {{company_cashflow_to_send}}<br><br>
    Company earnings: {{company_earnings_to_send}}<br><br>
    <img src='data:image/png;base64,{{company_data_to_send}}'/>
    </p>
    
</body>