<!DOCTYPE html>
<html>
<head>
<title>WEB-APP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif} .w3-bar-block .w3-bar-item {padding:20px} </style>
</head>
<body>

<!-- FIX CLASS NAMES WHEN STYLING AND CSS -->

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-right w3-padding-16"> 
      <button type="button" onclick="window.location.href = '/log_in';">Account</button> </div>
    <div class="w3-center w3-padding-16">WEB-APP</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1500px;margin-top:100px">

    <!-- SEARCH BAR-->
    <form action="{{ url_for("home")}}" method="post">
        <label for="Ticker symbol">Ticker Symbol:</label>
        <input type="text" id="ticker" name="ticker">
        <button type="submit">Search</button>

  <!-- WILL DISPLAY GRAPHS OF THESE COMPANIES CALCULATED BY THE API-->
  <div class="w3-row-padding w3-padding-50 w3-center" id="top 3 companies">
    <div class="w3-quarter">
      <img src='data:image/png;base64,{{top_data_to_send}} 'alt="Most valued" style="width:100%"/>
      <h3>The highest valued {{top_company_sector_to_send}} company is {{top_ticker_symbol_to_send}} with a market val: ${{top_company_market_price_to_send}}</h3>
      <p>Desciption of company.</p>
    </div>

    <div class="w3-quarter">
      <img src='data:image/png;base64,{{second_data_to_send}} 'alt="Most valued" style="width:100%"/>
      <h3>The highest valued {{second_company_sector_to_send}} company is {{second_ticker_symbol_to_send}} with a market val: ${{second_company_market_price_to_send}}</h3>
      <p>Desciption of company.</p>
    </div>

    <div class="w3-quarter">
      <img src='data:image/png;base64,{{third_data_to_send}} 'alt="Most valued" style="width:100%"/>
      <h3>The highest valued {{third_company_sector_to_send}} company is {{third_ticker_symbol_to_send}} with a market val: ${{third_company_market_price_to_send}}</h3>
      <p>Desciption of company.</p>
    </div>

  </div>

</script>
</body>
</html>